@import "modeSwitcher";
@import "popup";
@import "ripple";
@import "toolTips";
@import "darkModeSwitch";

/* VARS */

:root {
  --black: #1d1e21;
  --dark: #26292e;
  --lightdark: #353b46;
  --white: white;
  --lightgray: #cdcdcd;
  --whitesmoke: whitesmoke;
  --primary: #ec624b;
  --white-opacity-overlay: rgb(255, 255, 255, 0.1);
  --black-opacity-overlay: rgb(0, 0, 0, 0.1);
}

body.lightmode {
  --primarybg: var(--white);
  --secondarybg: #eb624a;
  --graybg: var(--lightgray);
  --header-color: var(--white);
  --opacity-overlay: var(--black-opacity-overlay);
  --menu-background: var(--primary);
  --menu-color: #ffffff;
  --menu-icon-color: var(--white);
  --menu-active-background: rgba(0, 0, 0, 0.05);
  --alert: yellow;
  --content-background: var(--primarybg);
  --content-color: var(--dark);
  --label-color: var(--white);
}

body {
  --primarybg: var(--black);
  --secondarybg: var(--dark);
  --graybg: var(--lightdark);
  --header-color: var(--white);
  --opacity-overlay: var(--white-opacity-overlay);
  --menu-background: var(--primary);
  --menu-color: var(--white);
  --menu-icon-color: var(--white);
  --menu-active-background: rgba(255, 255, 255, 0.05);
  --alert: yellow;
  --content-background: var(--primarybg);
  --content-color: var(--white);
  --label-color: var(--content-color);

  --menu-width: 20rem;
  --header-height: 16rem;
  --general-padding: 1rem;
}

/* GENERAL */

body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: var(--content-background);
  color: var(--content-color);
}

* {
  box-sizing: border-box;
}

.main-container {
  // height: 100vh;
  display: flex;
  flex-direction: column;
}

.transitioning *,
.transitioning *:after,
.transitioning *:before {
  transition: 1s;
  transition-delay: 0s;
}

.content-container {
  // flex: 1 1 0;
  display: flex;
  // overflow: hidden;
  align-items: stretch;
  // position: relative;

  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 0.5rem;
    background-color: black;
    margin-top: -0.5rem;
    display: block;
    position: absolute;
    z-index: -1;
  }

  &:after {
    background-color: var(--content-background);
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* BUTTONS */

.button,
button {
  background-color: var(--primary);
  padding: 0.75rem 1.5rem;
  color: var(--white);
  font-weight: 700;
  border: none;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  // border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.1) inset;
  }

  &.center {
    margin: auto;
    display: block;
  }

  &.round {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}

/* COLORS */
.linkedin-color {
  background-color: #2a98c6;
}

/* SIMPLE FLEX FRAMEWORK */

.flex-container {
  display: flex;
  justify-items: stretch;
}

.flex-center {
  align-items: center;
}

.flex-margin > .column {
  margin-right: 1rem;
}

.flex-margin-m > .column {
  margin-right: 2rem;
}

.flex-margin-l > .column {
  margin-right: 4rem;
}

.stretch {
  flex: 1;
}

.flex-container > .column {
  overflow: hidden;
}

.flex-container > .column:nth-last-child(1) {
  margin-right: 0;
}

@media screen and (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container > .column {
    margin: 0;
  }

  .flex-center {
    justify-content: center;
  }

  .flex-margin > .column {
    margin-bottom: 1rem;
  }

  .flex-margin-m > .column {
    margin-bottom: 2rem;
  }

  .flex-margin-l > .column {
    margin-bottom: 4rem;
  }
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--content-color);
  margin-bottom: 1em;
}

a {
  color: inherit;
}

p > a {
  font-weight: 700;
}

p.center {
  text-align: center;
}

p,
p > * {
  line-height: 1.5rem;
  color: var(--content-color);
}

p > i {
  padding: 0.1rem 0.5rem;
  background-color: var(--secondarybg);
  color: var(--label-color);
  border-radius: 0.2rem;
  font-style: normal;
  font-weight: 700;
  cursor: default;
  display: inline-block;
  vertical-align: middle;
}

.page-title {
  margin-bottom: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  position: relative;
  text-transform: uppercase;
  color: var(--content-color);
}

.page-title:after {
  content: "";
  width: 5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--primary);
}

.text-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.text-right {
  text-align: right;
}

hr {
  margin: 5rem 0;
  border: none;
  border-top: 1px solid var(--secondarybg);
}

.image_animator {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.image_animator .image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 2s ease;
  background-size: cover;
}

/* HEADER */

.header {
  flex: 0 0 var(--header-height);
  color: var(--header-color);
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

.header > .header-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20rem;
  padding: 1rem;
  background: var(--secondarybg);
  z-index: 1;
}

.header > .image {
  background-size: auto;
}

.header_logo {
  margin: auto;
  display: block;
  max-height: 7rem;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.header_text {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-family: monospace;
  font-size: 1.5rem;
  opacity: 0;
  color: var(--white);
  animation: fadeIn 1s forwards;
  animation-delay: 1.5s;
  margin-left: calc(var(--menu-width) - 1rem);
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.header_text:after {
  content: "|";
  animation: blink 1s steps(2) infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// sticky
@media screen and (min-width: 640px) {
  .sticky {
    position: fixed !important;
    top: 0;
    z-index: 20;
    height: 100vh;
  }
}

/* MENU */

.menu-container {
  --border-width: 1rem;
  flex: 0 0 var(--menu-width);
  background-color: var(--menu-background);
  margin-top: calc(-0.5 * var(--border-width));
  // position: relative;
  display: flex;
  flex-direction: column;

  &:before,
  &:after {
    content: "";
    border: var(--border-width) solid transparent;
    border-bottom-color: black;
    width: 100%;
    display: block;
    margin-left: calc(-2 * var(--border-width));
    margin-top: calc(-2 * var(--border-width));
    transition: 0.25s ease;
    transition-delay: 0.75s;
    // transform: translateY(-100%);
  }

  &:after {
    border-bottom-color: var(--primary);
    opacity: 0.8;
    z-index: 2;
    order: -1;
  }
}

.menu {
  // height: 100%;
  width: var(--menu-width);
  padding: var(--general-padding);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
  // background-color: var(--menu-background);
  z-index: 2;

  > .menu-switch {
    position: relative;
    z-index: 2;
    margin-bottom: 1rem;
  }
}

.menu > .menu_item {
  border-bottom: 1px solid var(--menu-active-background);
  padding: 1rem;
  text-decoration: none;
  color: var(--menu-color);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  background: none;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}

.menu_item > i {
  margin-right: 1rem;
}

.menu_item > i:before {
  color: var(--menu-icon-color);
}

.menu_item > .marked {
  position: relative;
}

.menu_item > .marked:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--alert);
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}

.menu > .menu_item:nth-last-child(1) {
  border-bottom: 0;
}

.menu > .menu_item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--menu-active-background);
  z-index: -1;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.6s;
}

@mixin stagger($time: 1s, $amount: 10) {
  @for $i from 1 through $amount {
    &:nth-child(#{$amount}n + #{$i}) {
      animation-delay: ($time / $amount * $i);
    }
  }
}

// party mode
.party-mode {
  .projects_item {
    animation: wiggleUp 1s infinite ease;

    &:nth-child(even) {
      animation-delay: 0.5s;
    }
  }

  .column > *,
  .flex-container > * {
    animation: wiggle 1s infinite ease;
    @include stagger;
  }

  .menu > * {
    animation: wiggle 1s infinite ease;
    @include stagger;
  }

  .page-title {
    animation: wiggle 1s infinite ease;
  }

  .image_animator .image {
    transition: 1.5s ease-out;
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(-1rem);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(-1rem);
  }
}

@keyframes wiggleUp {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(-1rem);
  }
}

@keyframes colorize {
  0% {
    filter: hue-rotate(0);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0);
  }
}

// .menu > .menu_item:hover:before,
// .menu > .menu_item.active:before {
//   transform: translateX(0%);
//   opacity: 1;
//   transition: 0.4s;
// }

/* PAGE SETUP */

.content {
  flex: 1 1 auto;
  background-color: var(--content-background);
  overflow: auto;
  color: var(--content-color);
}

.content .page {
  opacity: 0;
  pointer-events: none;
  transform: translateY(4);
  height: 0;
  overflow: auto;
  transition: 0.58s;
  transition-property: opacity, transform;
}

.content .page.active {
  padding: var(--general-padding);
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  height: auto;
}

/* PROJECT PAGE */

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1920px;
  margin: auto;
}

.projects_item {
  --spacing: 0.5rem;
  --width: 33.3333%;
  width: calc(var(--width) - (var(--spacing) * 2));
  margin: 0;
  text-align: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  padding: 0.5rem;
  margin: var(--spacing);
}

.projects_item > a {
  position: relative;
  display: block;
  // overflow: hidden;
  text-decoration: none;

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

.projects_item_ratio {
  padding-bottom: 70%;
  position: relative;
  background-position: center;
  background-size: auto 100%;
  transition: 0.5s;
  display: flex;
  align-items: center;
  // overflow: hidden;
}

.projects_item_image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.25s ease;
}

.projects_item_inner {
  // background-color: var(--project-color);
  color: var(--white);
  // box-shadow: 0 0 3rem #00000061;
  z-index: 2;
  position: relative;
  margin: 0 calc(-1 * var(--spacing));
  display: flex;
  flex-direction: column;

  > .bar {
    width: 100%;
    display: block;
    border: var(--spacing) solid transparent;
    border-bottom-color: var(--project-color);
    margin-top: calc(-1 * var(--spacing));
  }
}

.projects_item_title {
  padding: 1rem;
  margin: 0;
  color: var(--white);
  background-image: linear-gradient(120deg, transparent, #ffffff30);
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--project-color);
    z-index: -1;
  }
}

.projects_item header {
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  }
}

.projects_item_summary {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: translateX(100%);
  padding: 1rem;
  // background-color: rgba(127, 127, 127, 0.4);
  // backdrop-filter: blur(30px);
}

.projects_item_summary > * {
  padding: 1rem;
  font-size: 1em;
  color: var(--white);
  font-weight: 700;
  background-color: var(--black);
  position: relative;
  display: flex;
  flex-direction: column;

  &:before,
  &:after {
    content: "";
    border: 0.5rem solid transparent;
    border-top-color: black;
    display: block;
    order: 7;
    margin-bottom: -1rem;
    width: calc(100% - 1rem);
    margin-left: -1rem;
    transform: translateY(0%);
    position: absolute;
    bottom: 0;
  }

  &:after {
    border-top-color: var(--black);
    opacity: 0.6;
    // order: -1;
  }
}

.projects_item > a:hover .projects_item_ratio {
  background-size: auto 120%;
}

.projects_item_favourite {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.8rem;
  font-size: 1em;
  color: #ffc119;
  z-index: 10;
  width: 5rem;
  height: 5rem;
  display: flex;
  z-index: 2;
  // position: relative;
  // text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.2);

  &:before {
    content: "";
    position: absolute;
    right: 0;
    width: 141.42%;
    height: 141.42%;
    bottom: 100%;
    transform: rotate(-45deg);
    transform-origin: bottom right;
    background-color: var(--project-color);
    z-index: -1;
  }

  > span {
    &:before,
    &:after {
      content: "";
      border: 0.5rem solid transparent;
      border-bottom-color: var(--project-color);
      opacity: 0.5;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }

    &:after {
      top: auto;
      right: auto;
      left: 0;
      bottom: 0;
      transform: rotate(-90deg) translate(-50%, -50%);
    }
  }
}

.projects_item_favourite:after {
  content: "\f005";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

/* ABOUT PAGE */
.about_photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

/* ACHIEVEMENTS */

.achievements {
  margin-bottom: 1rem;
}

.achievements_row {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  border-bottom: 1px solid var(--primary);
}

.achievements_row.achieved {
  box-shadow: 0 0 0 1000px var(--primary) inset;
  color: var(--label-color);
}

.achievement-title {
  flex: 1;
  margin-right: 1rem;
}

.achievement-progress {
  text-align: right;
  padding: 0.5rem 1rem;
  background-color: var(--secondarybg);
  border-radius: 100px;
  color: var(--label-color);
  font-weight: 700;
}

.achievement-image {
  height: 4rem;
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: white;
  // border-radius: 100px;
}

/* RESPONSIVENESS */

/* large */
@media screen and (max-width: 1600px) {
  .projects-container > .projects_item {
    --width: 50%;
    // margin: 0;
  }
}

/* medium */
@media screen and (max-width: 920px) {
  .projects-container > .projects_item {
    --width: 100%;
    // margin: 0;
  }
}

/* mobile */
@media screen and (max-width: 640px) {
  .header_title {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .header_logo {
    width: 100%;
  }

  .content-container {
    display: block;
    overflow: visible;
  }

  .projects_item_summary {
    top: auto;
    bottom: auto;
    padding: 0 1rem;
    padding-top: 4rem;
    backdrop-filter: initial;
    width: 100%;
    background: linear-gradient(#ffffff00, #ffffff24);
    height: auto;
    transform: translate3d(0, -100%, 0);
  }

  .projects_item_summary > span {
    font-size: 1rem;
  }

  .menu-container {
    width: 100%;
    height: auto;
  }

  .content {
    overflow: visible;
  }

  .header_text {
    margin-left: 0rem;
  }
}
