// bulge
.bulge-container {
  overflow: hidden;
}

.bulge {
  width: 500px;
  height: 500px;
  position: absolute;
  pointer-events: none;
  left: -250px;
  top: -250px;
  opacity: 0;
  border-radius: 50%;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  transition: opacity 1s ease;
  &.is-active {
    opacity: 1;
  }
}

// ripple
.ripple-container {
  position: relative;
  overflow: hidden;
  // z-index: 1;
}

.ripple {
  width: 20%;
  padding-top: 20%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  // z-index: -1;
  opacity: 0;

  animation: 1.9s ripple ease-out forwards;

  &.no-fade {
    animation: 1.9s rippleNoFade ease-out forwards;
  }
}

@keyframes ripple {
  0% {
    width: 20%;
    padding-top: 20%;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
  10% {
    opacity: var(--opacity);
  }
  100% {
    width: 60%;
    padding-top: 60%;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(12);
  }
}

@keyframes rippleNoFade {
  0% {
    width: 20%;
    padding-top: 20%;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
  100% {
    width: 60%;
    padding-top: 60%;
    opacity: var(--opacity);
    transform: translate3d(-50%, -50%, 0) scale(12);
  }
}
