
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin:0;
	padding:0;
	font-family:'Roboto', sans-serif;
}

* { 	
}

.container {
	display:flex;
}

input {	
	font-family:'Roboto', sans-serif;
	font-size:1rem;
	border:1px solid #BCBCBC;
	padding:.5rem 1rem;
}

menu {
	flex:0 0 20rem;
	margin:0;
	padding:1rem;
	height:100vh;
	background-color:whitesmoke;
}

menu form {
	display:flex;
	flex-direction: column;
}

menu > form > li {
	display:flex;
	margin-bottom:1rem;
	font-size:1rem;
	align-items: center;
}

menu > form > li > input {
	flex:1 0 auto;
}

menu > form > li > label {
	flex:0 0 100px;
}

.canvas {
	flex:1 0 auto;
	padding:1rem;
}